# SQL Part 1 Studio - K. Jones

### Let's practice your SQL quering skills!  For each question, work along in the notebook adding your query and answering the questions.

### **DataSet**

### <span style="font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">We will be using the Goodbooks-10k dataset from the exercises in the prep work.&nbsp; Feel free to reference your notebook.</span>

- The dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k)
- You can access the **BooksDB** in the Launchcode server.

### **Business Issue**

You work for a small independant book store and you want to increase sales by running various promotions.  Start by becoming more familar with the BooksDB.

## Part 1. BooksDB Questions

<span style="color: rgba(0, 0, 0, 0.87); font-family: -apple-system, system-ui, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; background-color: rgb(255, 255, 255);">Question 1:&nbsp; Write a query of the books table, returning the TOP 100 results and&nbsp; includes, book_id, authors, title, average_rating.&nbsp; Use an alias for at least one column and in descending order of rating.&nbsp; What is the number one book?</span>

In [2]:
-- return top 100 results
USE BooksDB
SELECT TOP 10 book_id, authors, title AS 'Book Title', average_rating AS Rating
FROM books
ORDER BY average_rating DESC
--SELECT title

book_id,authors,Book Title,Rating
24812,Bill Watterson,The Complete Calvin and Hobbes,4.82
17332218,Brandon Sanderson,"Words of Radiance (The Stormlight Archive, #2)",4.77
8,"J.K. Rowling, Mary GrandPré","Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",4.77
5031805,"Anonymous, Lane T. Dennis, Wayne A. Grudem",ESV Study Bible,4.76
95602,Francine Rivers,Mark of the Lion Trilogy,4.76
24814,Bill Watterson,It's a Magical World: A Calvin and Hobbes Collection,4.75
862041,J.K. Rowling,"Harry Potter Boxset (Harry Potter, #1-7)",4.74
70489,Bill Watterson,There's Treasure Everywhere: A Calvin and Hobbes Collection,4.74
10,J.K. Rowling,"Harry Potter Collection (Harry Potter, #1-6)",4.73
59715,Bill Watterson,The Authoritative Calvin and Hobbes: A Calvin and Hobbes Treasury,4.73

Question 2: Write a query to find the least popular book.

In [3]:
-- return least popular book
USE BooksDB
SELECT TOP 1 title AS "Least Popular Book" FROM books
ORDER BY average_rating ASC

Least Popular Book
One Night at the Call Center

Question 3: Which tag is the most popular?

In [4]:
-- return most popular tag

USE BooksDB
SELECT TOP 1 book_id AS "Most Popular Tag" FROM books
ORDER BY average_rating DESC

Most Popular Tag
24812

Question 4: What is the name of the most popular tag?

In [5]:
-- return name of most popular tag
USE BooksDB
SELECT TOP 1 book_id AS "Most Popular Title By Tag" FROM books
ORDER BY average_rating DESC

Most Popular Title By Tag
24812

Question 5: How many books where released in the first decade of 2000?

In [6]:
-- return number of books published in the first decade of 2000
USE BooksDB
SELECT COUNT (*) AS "Books Released Between 2000-2010"
FROM  books
WHERE original_publication_year BETWEEN 2000 AND 2010

Books Released Between 2000-2010
3594

Question 6: How many book titles contain the word Happy?

In [7]:
-- return number of books that contain the word Happy
USE BooksDB
SELECT COUNT (title) AS "Books with 'Happy' in the Title"
FROM  books
WHERE title LIKE'%happy%' OR  title LIKE'%Happy%'

Books with 'Happy' in the Title
13

Question 7: List the books from the top 3 authors from question 1.  If there is more than one author just use the first one. Sort the titles <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">alphabetically by author and then by average_rating, best rated to lowest. Does order matter in sorting?</span>

In [8]:
-- return all books from the top 3 authors, sort by author and rating
USE BooksDB
SELECT TOP 3 authors, book_id, average_rating, title
FROM Books
ORDER BY authors DESC, average_rating DESC

authors,book_id,average_rating,title
"يوسف زيدان, Youssef Ziedan",9666241,3.43,النبطي
"يوسف زيدان, Youssef Ziedan",11995136,3.31,محال
يوسف زيدان,3554772,4.07,عزازيل

Question 8: Take a close look at J.K. Rowling.  Is her top rated book on this list from question 1?  Why might this be? How could we account for this?

> Click here to add your answer.

Try updating your above query to include all of J.K. Rowling's books.

Are there any other issues?

> Click here to add your answer.

In [9]:
-- Try updating your above query to include all of J.K. Rowling's books

Question 9: Write a query that returns the number of Authors whose first name is between rock and roll.

In [10]:
-- return number of authors whose first name is between rock and roll

## Part 2. Write your own question and write a query to answer it.

Your Question:  Click here to add

In [11]:
-- Add your querry here

Your Question: Click here to add

In [12]:
-- Add your querry here

**Some Question Examples:**

Write a query that returns the longest title?

Which Author has written the most books?  

Top  ten books written the year I was born?